@model SKBusService.Models.RouteSchedule
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Details schedules for " + Context.Session.GetString("busRouteCode") + " - " + Context.Session.GetString("routeName");
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>RouteSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsWeekDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsWeekDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RouteScheduleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
